<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="item.name"
            name="name"
          />
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input
            class="form-control"
            id="price"
            required
            [(ngModel)]="item.price"
            name="price"
          />
        </div>

        <div class="form-group">
          <label for="categories">Categories</label>
          <input
            class="form-control"
            id="categories"
            required
            [(ngModel)]="item.categories[0]"
            name="categories"
          />
        </div>

        <div class="form-group">
          <label for="on_stock">On Stock</label>
          <input
            class="form-control"
            id="on_stock"
            required
            [(ngModel)]="item.on_stock"
            name="on_stock"
          />
        </div>

        <div class="form-group">
          <label for="photo">Photo Url</label>
          <input
            class="form-control"
            id="photo"
            required
            [(ngModel)]="item.photo"
            name="photo"
          />
        </div>

        <button (click)="saveItem()" class="btn btn-success">Submit</button>
      </div>

      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newItem()">Add</button>
      </div>
    </div>
  </div>