
.item-card
{
    width: 250px;
    height: 450px;
    margin: 10px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    box-shadow: rgb(207, 207, 207) 2px 1px 15px 5px;
    margin-top: 5px;
    float: left;
}

p
{
    font-size: 20px;
    margin: 0px;
    padding: 0px;;
    margin-left: 10%;
}

img{
    width: 80%;
    height : auto;
    margin: 5% 10%;
}
button
{
    clear: both;
    margin-left: 15%;
    background-color: rgb(106, 122, 106);
    height: 30px;
    border-radius: 4px;
    border: none;
}

.amount
{
    float: rigth;
    margin-left: 25px;
    width: 20px;
    height: 20px;
    text-align: center;
}