<ul id="nav">
    <img id="logo" src="./assets/logo.PNG">
    <li routerLink= "main" routerLinkActive="active">O nas</li>
    <li routerLink= "items-list" routerLinkActive="active">Produkty</li>
    <li routerLink= "employees-list" routerLinkActive="active">Pracownicy</li>
    <li routerLink= "delivery-list" routerLinkActive="active">Dostawy</li>
    <li routerLink= "order-list" routerLinkActive="active">Raporty</li>
    
    <li *ngIf = 'ifLogged()' class="login" routerLink= "login" routerLinkActive="active">Zaloguj</li>
    <li *ngIf = 'ifLogged()' class="login" routerLink= "rejestration" routerLinkActive="active">Zarejestruj</li>
    <li *ngIf = '!ifLogged()'class="cart" routerLink= "cart-list" routerLinkActive="active">Koszyk</li>
</ul>
